body {
    background-color: #121212;
    margin: 0%;
    text-align: center;
    overflow: hidden;
}
#roadCanvas {
    background-color: gray;
}
#networkCanvas {
    background-color: black;
    margin: 10px;
}